/*====  REINICIAT  ============================ */
* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

/*===================    HEADER AND FOOTER    =================== */

footer {
  border-top: 7px solid #5b5252;
  height: 120px;
  background-color: #443d3e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.footer {
  color: var(--menu-color);
}

footer p {
  font-size: 20px;
  font-family: 'Italianno', cursive;
  text-align: center;
  line-height: 1.6em;
}

#header {
  display: flex;
  z-index: 100;
  width: 100%;

  border-bottom: 4px solid var(--menu-color);
}

nav {
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li:not(:first-child) {
  padding-left: 2rem;
}

nav ul li {
  padding-right: 4px;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li a {
  font-family: 'Italianno', cursive;
  font-weight: bold;
  font-size: 33px;
  color: var(--menu-color);
}

.logo {
  font-family: 'Italianno', cursive;
  font-weight: bold;
  font-size: 33px;
  color: var(--menu-color);
  padding-right: 10px;
}

.logo span {
  color: var(--laranja);
}

.banner {
  background-image: url('assets/images/AdobeStock_100140350-scaled.jpeg');
  height: 90vh;
  width: 100%;

  background-size: cover;
}

.banner .overlay {
  background-color: rgba(0, 0, 0, 0.58);
  height: 90vh;
}

nav.show .menu {
  position: fixed;
  background-color: var(--fundoclaro);
  top: 0;
  right: 0;
  width: 60vw;
  z-index: 9;
  height: 100vh;
}

nav.show ul {
  flex-direction: column;
  padding-top: 67px;
}

nav.show ul li {
  padding: 0;
  text-align: center;
  padding-bottom: 0px;
}

nav.show ul li:not(:first-child) {
  padding-top: 20px;
}

nav.show ul li a {
  color: var(--laranja);
}

.toggle {
  font-size: 25px;
  color: var(--menu-color);
  cursor: pointer;
}

.show .icon-menu {
  display: none;
}

nav.show {
  position: relative;
}

.icon-close {
  color: var(--laranja);
  visibility: hidden;
  opacity: 0;
}

.show .icon-close {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  position: fixed;
}

@media (min-width: 700px) {
  .toggle {
    display: none;
  }
}

@media (max-width: 700px) {
  .menu {
    display: none;
  }

  nav.show .menu {
    display: block;
  }

  .icon-close {
    display: none;
  }

  .show .icon-close {
    right: 20px;
    display: block;
  }
}

@media (max-width: 600px) {
  .show .icon-close {
    right: 10px;
  }
}
@media (max-width: 430px) {
  .show .icon-close {
    right: 5px;
  }

  .footer p {
    font-size: 16px;
  }
}

@media (max-width: 340px) {
  .show .icon-close {
    right: 2.5px;
  }
}

/*====  VARIABLES ============================ */
:root {
  --fundoescuro: #5c171d;
  --menu-color: #fff;
  --laranja: #f16b27;
  --black: #000;
  --fundoclaro: #fdfada;
  --title-size: 2.6rem;
  --title-size-600px: 2.3rem;
  --title-size-340px: 31px;
  --laranja-claro: #f9b269;
  --background-sobremesas: #834444;
}

/*====  PADRAO  ============================ */

.moldura-top {
  width: 12.43rem;
  z-index: 2;
  padding-top: 22px;
  position: absolute;
  top: 0;
  left: 0;
}

.moldura-bottom {
  position: absolute;
  right: 0;
  bottom: 22px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.divisor {
  width: 100%;
  height: 10vh;
  background: var(--fundoescuro);
  overflow-x: hidden;
}

.divisor-section {
  width: 100%;
  height: 17vh;
  background: var(--fundoescuro);
}

.section-clara {
  background-color: var(--fundoclaro);
}

.section-escura {
  background-color: var(--fundoescuro);
}

.title {
  font-size: var(--title-size);
  text-align: center;
  font-family: 'italianno', cursive;
  font-weight: normal;
}

.divisor-icon {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.container-margin {
  margin: 0 40px;
  display: flex;
  padding-bottom: 20px;
}

@media (max-width: 1040px) {
  .container {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }

  .container-margin {
    margin: 0 20px;
  }
}

@media (max-width: 600px) {
  .container {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }

  .container-margin {
    margin: 0 10px;
  }

  .title {
    font-size: var(--title-size-600px);
  }

  .moldura-top {
    width: 150px;
  }

  .moldura-bottom {
    width: 150px;
  }
}

@media (max-width: 430px) {
  .divisor-icon {
    width: 70vw;
  }

  .container {
    width: calc(100% - 10px);
  }

  .container-margin {
    margin: 0 5px;
  }
}

@media (max-width: 340px) {
  .title {
    font-size: var(--title-size-340px);
  }

  .container {
    width: calc(100% - 5px);
  }

  .moldura-top {
    width: 120px;
  }

  .moldura-bottom {
    width: 120px;
  }

  .container-margin {
    margin: 2px;
  }
}

/*====   PRATO DO DIA  ============================ */

.pdd-header {
  padding-bottom: 30px;
  padding-top: 50px;
  overflow-x: hidden;
}

.pdd-header .title {
  font-family: 'Italianno', cursive;
  font-weight: 500;
  color: var(--black);
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.72);
  text-align: center;
  top: 5px;
  position: relative;
}

.subtitle {
  color: var(--laranja);
  font-size: 33px;
  padding: 0 20px;
  font-family: 'Italianno', cursive;
  text-align: center;
}

.regua {
  width: 50%;
  height: 1px;
  padding: 0;
  display: block;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  background-color: #000;
}

.pdd {
  display: flex;
  padding-bottom: 1rem;
}

.inf-pdd {
  width: 50%;
  position: relative;
  padding: 0 30px;
  padding-bottom: 100px;
}

.img-pdd {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.img-pdd img {
  width: 85%;
  height: fit-content;
  border-radius: 10%;
  box-shadow: 6px 7px 3px 0px rgba(0, 0, 0, 0.5);
}

.inf-pdd .destaque {
  font-family: 'Italianno', cursive;
  font-weight: normal;
  font-size: 34px;
  text-align: center;
  margin-bottom: -5px;
}

.inf-pdd p {
  font-family: 'Bad Script', cursive;
  font-size: 17px;
  text-align: center;
}

.box-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn {
  color: var(--menu-color);
  background-color: var(--laranja);
  font-family: 'bad script', cursive;
  font-size: 18px;
  font-weight: bold;
  padding: 1px 20px;
  border-radius: 13px;
  margin: 0 auto;

  display: flex;
}

@media (max-width: 670px) {
  .pdd {
    flex-direction: column-reverse;
  }

  .pdd-header {
    padding-bottom: 17px;
  }

  .pdd-header .subtitle {
    font-size: 30px;
  }

  .pdd-header .regua {
    width: 75%;
  }

  .img-pdd {
    width: 100%;
    padding-bottom: 80px;
  }

  .inf-pdd {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .img-pdd img {
    width: 70%;
    box-shadow: 6px 7px 3px 0px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 500px) {
  .inf-pdd {
    width: 90%;
  }

  .img-pdd img {
    width: 85%;
  }

  .pdd-header .subtitle {
    font-size: 27px;
  }
}

@media (max-width: 500px) {
  .inf-pdd {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .img-pdd img {
    width: 80%;
  }
}

/*====   NOSSA CHEF  ============================ */

.nossa-chef {
  display: flex;
  flex-direction: row;
}

.chef {
  width: 50%;
  padding-bottom: 25px;
}

.chef .title {
  line-height: 1.3em;
  padding-top: 22px;
  overflow-y: hidden;
}

.chef-img-box {
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.chef-img {
  width: 70px;
  height: 70px;
  object-fit: cover;

  border-radius: 100%;
  border: 2px solid black;
}

.chef-detalhes {
  display: flex;
  padding-top: 15px;
  flex-direction: column;
}

.chef-detalhes h3 {
  font-size: 27px;
  font-family: 'Bad Script', cursive;
  color: #f16a27;
  text-align: center;
}

.chef-detalhes p {
  font-size: 20px;
  font-family: 'Bad Script', cursive;
  text-align: center;
}

.img-cozinha-box {
  width: 50%;
  background-image: url('assets/images/chef-cozinha.jpeg');
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .nossa-chef {
    flex-direction: column;
  }

  .chef {
    width: 100%;
  }

  .img-cozinha-box {
    height: 260px;
    width: 100%;
  }
}

@media (max-width: 460px) {
  .chef {
    width: 100%;
    padding: 0 10px;
    padding-bottom: 22px;
  }

  .chef-img {
    width: 60px;
    height: 60px;
  }

  .chef p {
    font-size: 16px;
  }

  .img-cozinha-box {
    height: 220px;
    width: 100%;
  }
}
/*====   QUALIDADES   ============================ */

.qualidades {
  padding-top: 22px;
}

.qualidades-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.qualidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 17px;
  width: 33.333%;
  min-width: 220px;
  margin: 0 auto;
  padding-bottom: 33px;
}

.qualidade p:first-of-type {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  color: var(--laranja-claro);
}

.qualidade p:last-of-type {
  font-size: 1.2rem;
  font-family: 'Bad Script', cursive;
  color: var(--menu-color);
}

.qualidade p {
  text-align: center;
  padding-top: 15px;
}

.qualidade img {
  height: 100px;
  margin: auto;
}

.qualidade img:hover {
  height: 110px;
}

@media (max-width: 400px) {
  .qualidade img {
    height: 90px;
  }

  .qualidade img:hover {
    height: 99px;
  }
}

/*====   DEPOIMENTOS   ============================ */

.depoimentos {
  padding-top: 22px;
}

.depoimentos h2 {
  padding-bottom: -5px;
}

.box-depoimentos {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 22px;
}

.depoimento {
  width: 33.333%;
  min-width: 220px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.box-foto-depoimento {
  display: flex;
  justify-content: center;
}

.foto-depoimento {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgba(75, 75, 75, 0.61);
}

.name {
  font-size: 30px;
  font-family: 'Bad Script', cursive;
  text-align: center;
  padding-top: 25px;
}

.text {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 13px;
  font-weight: 300;
}

.estrela {
  width: auto;
  padding-top: 20px;
}

@media (max-width: 450px) {
  .foto-depoimento {
    width: 60px;
    height: 60px;
  }

  .name {
    font-size: 25px;
  }
}
